body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  margin: 4%;
  margin-bottom: 20px;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
  height: 70vh;
}

.simon {
  background-color: #06121f;
  margin: auto;
  width: 420px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 9px solid black;
}

.rows {
  padding-top: 7%;
}

.btn {
  margin: 5px;
  padding: 0;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 20%;
  cursor: pointer;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
  border-top-right-radius: 90%;
  border-bottom-left-radius: 70%;

}

.red:hover {
  background-color: rgb(255, 112, 112);
  transition-duration: 0.5s;
}

.green {
  background-color: green;
  border-top-left-radius: 90%;
  border-bottom-right-radius: 70%;
}

.green:hover {
  background-color: rgb(61, 202, 61);
  transition-duration: 0.5s;
}

.blue {
  background-color: blue;
  border-bottom-right-radius: 90%;
  border-top-left-radius: 70%;
}

.blue:hover {
  background-color: rgb(62, 62, 255);
  transition-duration: 0.5s;
}

.yellow {
  background-color: yellow;
  border-bottom-left-radius: 90%;
  border-top-right-radius: 70%;
}

.yellow:hover {
  background-color: rgb(255, 255, 152);
  transition-duration: 0.5s;

}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.center-button {
  width: 150px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #06121f;
  position: absolute;
  bottom: 50%;
  border: 9px solid black;
  right: 300px;
}

@media (max-width: 1200px) {
  .container {
    width: 95%;
  }
}

